<div class="d-flex justify-content-center">
  <ul class="list-group" style="width:50vw">
    {{#each records}}
    <li class="list-group-item" style="color:dimgray">
      <div class="row">
        <div class="col-1 my-auto" >
          <i class="fs-2 {{this.icon}}" style="color:lightblue"></i>
        </div>
        <div class="col-6">
          <div class="fs-4">
            {{this.name}}
          </div>
          <div class="date">
            {{this.date}}
          </div>
        </div>
        <div class="col-2 my-auto">
          {{this.amount}}
        </div>
        <div class="col-3 my-auto">
        <button class="btn btn-light" type="submit">修改</button>
        <button class="btn btn-light" type="submit">刪除</button>
        </div>
      </div>
    </li>
    {{/each}}
  </ul>
</div>