

.btn-major {
  background-color: #e3885b;
  color: white;
}

.login-card , .register-card{
  color:dimgrey;
  -webkit-box-shadow: 0px 2px 10px 0px rgba(0, 0, 0, 0.08);
  -moz-box-shadow: 0px 2px 10px 0px rgba(0, 0, 0, 0.08);
  box-shadow: 0px 2px 10px 0px rgba(0, 0, 0, 0.08);
}


.login-card a, .register-card a {
  text-decoration:none
}



.form-control:focus {
  box-shadow: none;
  border-color: #ced4da;
}